.root {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 36px;
  height: 36px;
  flex-direction: column;
  align-items: flex-start;
}
.ellipse1 {
  position: absolute;
  left: 27.7778%;
  right: 27.7778%;
  top: 27.7778%;
  bottom: 27.7778%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.ellipse12 {
  position: absolute;
  left: 27.7778%;
  right: 27.7778%;
  top: 27.7778%;
  bottom: 27.7778%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
